<h1>process watcher</h1>

<app-worker-table></app-worker-table>

<br>

<p>On load the application makes a request to the server asking for all workers. The individual process passes a message to the master, the master responds with data on the workers.</p>

<p>On killing a process, the pid of the worker to kill is sent to the server. The process sends a message to the master with the pid. The master sends a message to the process to shutdown</p>

<p>The shutdown will occur last, so the process may respond to the server before it terminates.</p>